/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'jenriv_titlingbold';
    src: url('font/jenriv/JenrivTitling-Bold.otf') format('woff2'),
         url('font/jenriv/JenrivTitling-Bold.otf') format('woff');
         font-weight: normal;
         font-style: normal;

}
@font-face {
    font-family: 'jenriv_titlinglight';
    src: url('font/jenriv/JenrivTitling-LightItalic.otf') format('woff2'),
         url('font/jenriv/JenrivTitling-LightItalic.otf') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jenriv_titlingregular';
    src: url('font/jenriv/JenrivTitling-Regular.otf');
}

@font-face {
    font-family: 'julius-sans';
    src: url('font/julius-sans/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'archivo-narrow' ;
    src: url('font/archivo-narrow/ArchivoNarrow-Regular.otf');
}

@font-face {
    font-family: 'archivo-narrow-italic' ;
    src: url('font/archivo-narrow/ArchivoNarrow-Italic.otf');
}

@font-face {
    font-family: 'inconsolata';
    src: url('font/Inconsolata/Inconsolata.otf');
}
@font-face {
    font-family: 'karla';
    src: url('font/karla/Karla-Regular.ttf');
}

/*-------------------------------------------------------------------------------------*/

body{
    background: rgb(43, 43, 43) url("images/background.jpg") fixed no-repeat center;
    color : rgb(35, 29, 36);
    text-align: justify;
    font-family: 'inconsolata' ,Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header{
    position: relative;
    background-color: rgb(35, 29, 36);
    color: rgb(212, 202, 192);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-direction: column;
}

h2{
    font-family: 'karla', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color : rgb(73, 25, 25);
    margin-bottom: 0.5rem;
    
}

h3{
    font-family: 'karla', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color : rgb(73, 25, 25);
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    border-top: 1px rgb(73, 25, 25) solid;
}

ul{
    /*list-style-image: url(images/list_style.png);*/
    list-style : square;
    margin-left: 1rem;
}

li{
    margin-bottom: 0.5rem;
}

#name{
    font-family: 'julius-sans', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(212, 202, 192);
    font-size: 50px;
}

#whatIAm{
    font-family: 'archivo-narrow', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(212, 202, 192);
    font-size: 30px;
    margin-bottom: 2rem;
}

#whatISeek{
    font-family: 'archivo-narrow', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(212, 202, 192);
    font-size: 20px;
}

#mainBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(212, 202, 192);
    max-width: 60rem;
    min-width: 15rem;
    min-height: 100vh;
    margin: auto;
    padding-top: 4rem;
}

#AboutSection{
    padding: 2rem 6rem 2rem 6rem;
}

.date{
    font-family: 'karla', Arial, Helvetica, sans-serif;
    color : rgb(73, 25, 25);
    font-size: 18px;
}

.title{
    font-family: 'karla', Arial, Helvetica, sans-serif;
    color : rgb(73, 25, 25);
    font-size: 16px;
}

.place{
    font-family: 'inconsolata', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#ContactSection, #InfoSection, #ScoSection, #EmpStaSection{
    padding: 1rem 3rem 1rem 3rem; /*top right bottom left*/
    width: 20rem; 
}
#CompSection, #LangSection, #ProjSection{
    padding: 1rem 1rem 2rem 1rem; /*top right bottom left*/ 
    width: 15rem;

}

.projectElement{
    padding-top: 0.5rem;
}

a{
    text-decoration: none;
    color :rgb(59, 48, 48);
}

li a:hover{
    color:rgb(212, 202, 192);
    background-color: rgb(56, 28, 28);
}

h2 a img:hover{
    border: 2px rgb(73, 25, 25) solid;
    padding: 0.1rem;
}

#ContactSection h2 a span img{
    border-radius: 0.5rem;
    width : 25px;
    height: 25px;
    margin-left: 0.5rem;
}

#ProjSection h2 a span img{
    border-radius: 25rem;
    width : 25px;
    margin-left: 0.5rem;
}

h2 a img{
    box-sizing: border-box;
}

footer{
    background-color: rgb(35, 29, 36);
    color: rgb(212, 202, 192);
    margin-top: auto;
    text-align: right;
    padding: 1rem 2rem 1rem 2rem; /*top right bottom left*/
}