
@font-face
{
        font-family: 'Ostrich';
        src: url('font/Ostrich/ostrich-regular.ttf'),
             url('font/Ostrich/OstrichSans-Light.otf');
}

@font-face {
    font-family: 'Greyscale';
    src : url('font/Greyscale/Greyscale_Basic_Regular.ttf')
}

body{
    background: rgb(87, 87, 87);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.myName{
    font-family: Ostrich, Arial, serif;
    font-size: 50px;
}

.whatISeekTitle{
    font-family: Greyscale, Arial, serif;
    font-size: 40px;
}

h2{
    font-family: Greyscale, Arial, serif;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.date{
    font-weight: bold;
}

.title{
    font-weight: bold;
}

.place{
    font-style: italic;
}