
@font-face
{
        font-family: 'Ostrich';
        src: url('font/Ostrich/ostrich-regular.ttf'),
             url('font/Ostrich/OstrichSans-Light.otf');
}

@font-face {
    font-family: 'Greyscale';
    src : url('font/Greyscale/Greyscale_Basic_Regular.ttf')
}

body{
    background: rgb(87, 87, 87);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    /*width: 50%;
    padding: 12px;*/
}

.myName{
    display: flex;
    font-family: Ostrich, Arial, serif;
    font-size: 60px;
    justify-content: center;
}

.whatISeekTitle{
    display: flex;
    font-family: Greyscale, Arial, serif;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 10%;
}

#summaryContainer{
    display : flex;
    flex-wrap: wrap;
    /*flex-direction: column; /*alignement sur axe primaire*/
    justify-content: center;
    /*align-items: center; /*alignement sur axe secondaire*/
    /*text-align: center;*/
    margin-bottom: 10%;
}

h2{
    font-family: Greyscale, Arial, serif;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
    
    padding: 25px; /* Marge extérieure*/
}

.date{
    font-weight: bold;
}

.title{
    font-weight: bold;
}

.place{
    font-style: italic;
}

#infContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}

#EmpStaContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}

#ScoContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}

#CompLangContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}

#ProjContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}