
/*définir une nouvelle police, elle doit être dans le même dossier ou sous-dossier que le fichier css*/
/*L'idéal est de proposer plusieurs formats pour la police : le navigateur téléchargera celui qu'il sait lire*/
@font-face
{
        font-family: 'Ostrich';
        src: url('font/Ostrich/ostrich-regular.ttf'),
             url('font/Ostrich/OstrichSans-Light.otf');
            /*ici on pourrait rajouter une autre extension de la police*/
}

/*couleur du fond et du texte, apparence générale de la page*/
body{
    /*background-color: rgb(43, 43, 43);
    background-image: url("background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;*/
    
    /*On peut aussi l'écrire de cette façon : (c'est mieux) */
    background: rgb(43, 43, 43) url("background.jpg") fixed no-repeat center;
    /*On peut mettre plusieurs images de fond : 
    background: url("soleil.png") fixed no-repeat top right, url("neige.png") fixed;
    la 1ere image de la liste sera placée par dessus les autres
    */

    color: rgb(255, 115, 0);
}

/*On change le comportement du surlignage*/
mark{
    background-color: blueviolet;
    color: blue;
}

p /* balise p pour mettre la couleur noire sur tous les paragraphes*/
{
    color: rgb(0, 0, 0); /*propriété + valeur*/
    font-size: 19px; /* Paragraphes de 19 pixels : taille absolue */
    /*pour qu'une police s'affiche correctement, il faut que tous les internautes l'aient*/
    font-family: 'Calibri', "Trebuchet MS", 'Verdana', 'sans-serif'; /* => mets la police calibri, si le navigateur ne l'a pas, mets en Tebuchet, etc..*/
    /*On peut utiliser des polices personalisées mais il faut la f aire télécharger par le navigateur de utilisateur*/
    /*Formats de polices: 
    .ttf  : TrueType Font. Fonctionne sur IE9 et tous les autres navigateurs
    .eot  : Embedded OpenType. Fonctionne sur Internet Explorer uniquement, toutes versions. Ce format est propriétaire, produit par Microsoft
    .otf  : OpenType Font. Ne fonctionne pas sur Internet Explorer
    .svg  : SVG Font. Le seul format reconnu sur les iPhone et iPad pour le moment
    .woff  : Web Open Font Format. Nouveau format conçu pour le Web, qui fonctionne sur IE9 et tous les autres navigateurs.
    */
    text-align: justify;
}

h1,em /*On peut mettre plusieurs balises pour éviter la répétition de code*/
{
    color:rgb(175, 0, 0);
    font-size: 29px;
    font-family: 'Ostrich', Arial, serif;
}

ul{
    color: rgb(20, 114, 151);
    background-color: rgba(255,0,0,0.6); /*Fond avec opacité 60%*/
}

.fable{
    color: rgb(180, 121, 121);
    font-size: 30px;
}

.imagefable{
    float:right;
}

.personnage{
    color :darkorange;
    font-weight: bold;
}

.dessous{
    clear:both;
}


/*
.class
{

}

#id
{

}

____________________________________________________________________________________________________________________
SELECTEURS :
Selecteur universel : 
*
{

}

____________________________________________________________________________________________________________________
Une balise contenue dans une autre : Sélectionne toutes les balises <em>  situées à l'intérieur d'une balise <h3>  
h3 em
{

}
code html correspondant : <h3>Titre avec <em>texte important</em></h3>

____________________________________________________________________________________________________________________
Balise qui en suit une autre : Sélectionne la première balise <p>  située après un titre <h3>  .
h3 + p
{

}
code html correspondant :
<h3>Titre</h3>
<p>Paragraphe</p>

____________________________________________________________________________________________________________________
balise qui possède un attribut : Sélectionne tous les liens <a>  qui possèdent un attribut title  .
a[title]
{

}
code html correspondant :
<a href="http://site.com" title="Infobulle">

____________________________________________________________________________________________________________________
balise, attribut et valeur exacte : Idem, mais l'attribut doit en plus avoir exactement pour valeur « Cliquez ici ».
a[title="Cliquez ici"]
{

}
code html correspondant :
<a href="http://site.com" title="Cliquez ici">

____________________________________________________________________________________________________________________
balise, attribut et valeur : Idem, l'attribut doit cette fois contenir dans sa valeur le mot « ici »
a[title*="ici"]
{

}
code html correspondant :
<a href="http://site.com" title="Quelque part par ici">

____________________________________________________________________________________________________________________

Liste des selecteurs : https://www.w3.org/Style/css3-selectors-updates/WD-css3-selectors-20010126.fr.html#selectors

*/