
/*définir une nouvelle police, elle doit être dans le même dossier ou sous-dossier que le fichier css*/
/*L'idéal est de proposer plusieurs formats pour la police : le navigateur téléchargera celui qu'il sait lire*/
@font-face
{
        font-family: 'Ostrich';
        src: url('font/Ostrich/ostrich-regular.ttf'),
             url('font/Ostrich/OstrichSans-Light.otf');
            /*ici on pourrait rajouter une autre extension de la police*/
}

p /* balise p pour mettre la couleur bleu sur tous les paragraphes*/
{
    color: rgb(55, 114, 55); /*propriété + valeur*/
    font-size: 19px; /* Paragraphes de 19 pixels : taille absolue */
    /*pour qu'une police s'affiche correctement, il faut que tous les internautes l'aient*/
    font-family: 'Calibri', "Trebuchet MS", 'Verdana', 'sans-serif'; /* => mets la police calibri, si le navigateur ne l'a pas, mets en Tebuchet, etc..*/
    /*On peut utiliser des polices personalisées mais il faut la f aire télécharger par le navigateur de utilisateur*/
    /*Formats de polices: 
    .ttf  : TrueType Font. Fonctionne sur IE9 et tous les autres navigateurs
    .eot  : Embedded OpenType. Fonctionne sur Internet Explorer uniquement, toutes versions. Ce format est propriétaire, produit par Microsoft
    .otf  : OpenType Font. Ne fonctionne pas sur Internet Explorer
    .svg  : SVG Font. Le seul format reconnu sur les iPhone et iPad pour le moment
    .woff  : Web Open Font Format. Nouveau format conçu pour le Web, qui fonctionne sur IE9 et tous les autres navigateurs.
    */
}

h1,em /*On peut mettre plusieurs balises pour éviter la répétition de code*/
{
    color:rgb(0, 63, 0);
    font-size: 29px;
    font-family: 'Ostrich', Arial, serif;
}

ul{
    color: rgb(20, 114, 151);
}

.fable{
    color: brown;
}

.personnage{
    color :darkorange;
}

/*
.class
{

}

#id
{

}

____________________________________________________________________________________________________________________
SELECTEURS :
Selecteur universel : 
*
{

}

____________________________________________________________________________________________________________________
Une balise contenue dans une autre : Sélectionne toutes les balises <em>  situées à l'intérieur d'une balise <h3>  
h3 em
{

}
code html correspondant : <h3>Titre avec <em>texte important</em></h3>

____________________________________________________________________________________________________________________
Balise qui en suit une autre : Sélectionne la première balise <p>  située après un titre <h3>  .
h3 + p
{

}
code html correspondant :
<h3>Titre</h3>
<p>Paragraphe</p>

____________________________________________________________________________________________________________________
balise qui possède un attribut : Sélectionne tous les liens <a>  qui possèdent un attribut title  .
a[title]
{

}
code html correspondant :
<a href="http://site.com" title="Infobulle">

____________________________________________________________________________________________________________________
balise, attribut et valeur exacte : Idem, mais l'attribut doit en plus avoir exactement pour valeur « Cliquez ici ».
a[title="Cliquez ici"]
{

}
code html correspondant :
<a href="http://site.com" title="Cliquez ici">

____________________________________________________________________________________________________________________
balise, attribut et valeur : Idem, l'attribut doit cette fois contenir dans sa valeur le mot « ici »
a[title*="ici"]
{

}
code html correspondant :
<a href="http://site.com" title="Quelque part par ici">

____________________________________________________________________________________________________________________

Liste des selecteurs : https://www.w3.org/Style/css3-selectors-updates/WD-css3-selectors-20010126.fr.html#selectors

*/